@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Hedvig%20Letters%20Sans:700|Hedvig%20Letters%20Sans:400');

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: #ffffff;
    --almost-white: #f6f6f6;
    --beige: #eeece6;
    --primary-light: #70ffcf;
    --primary: #00615F;
    --primary-dark: #002928;
    --primary-darkdark: #0f2221;
    --red-error: #8B3036;
    --almost-black: #202124;
    --black: #000000;
    font-size: 16px;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    color: var(--primary-darkdark);
    margin-bottom: 1.5em;
    text-align: center;
    margin-top: 3em;
}

h6{
    font-size: 1.5em;
    font-weight: bold;
    font-variant-caps: all-small-caps;
    color: var(--primary);
    text-align: center;
}
/* All */

body, button {
    font: 1em/1.5 "Hedvig Letters Sans", sans-serif;
    color: var(--primary-darkdark);
}

body {

    height: 100vh;
    display: grid;
    place-items: center;
    padding: 1.5em 0 0 0;
}

body:after {
    content: "";
    display: block;
    height: 1.5em;
    width: 100%;
}

.app,
.top-bar-nav,
.main__stat-row,
.main__stat-graph,
.footer {
    display: flex;
}


.top-bar-nav,
.footer {
    justify-content: space-between;
}


.top-bar-arrow-btn,
.top-bar-notification-btn,
.footer__nav-btn {
    background: transparent;
    display: flex;
    outline: transparent;
    transition: all 0.15s linear;
    -webkit-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.app {
    background: var(--almost-white);
    border-radius: 3em;
    flex-direction: column;
    padding: 2.25em;
    width: 390px;
    height: 844px;
}

/* top-bar */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: var(--primary);
    color: var(--white);
}

.drawer {
    position: fixed;
    top: 0;
    left: -300px; /* Set the initial position off-screen */
    width: 300px;
    height: 100%;
    background-color: var(--almost-black);
    overflow-y: auto;
    transition: left 0.3s ease;
    padding: 1em;
}

.drawer.open {
    left: 0;
}

.notification {
    margin-bottom: 1em;
    padding: 0.5em;
    background-color: var(--primary-light);
    color: var(--primary-darkdark);
    border-radius: 5px;
}


.top-bar-nav {
    margin-bottom: 1.5em;
}

.top-bar-arrow-btn,
.top-bar-notification-btn {
    height: 1.5em;
}

.top-bar-arrow-btn {
    width: 1.5em;
}

.top-bar-arrow-btn:active .icon path,
.top-bar-arrow-btn:focus .icon path {
    fill: var(--primary);
}

.top-bar-text {
    text-transform: uppercase;
}

.top-bar-notification-btn {
    min-width: 1.5em;
}

.top-bar-notification-btn:active,
.top-bar-notification-btn:focus {
    color: var(--primary);
}

/* Mains */

.container {
    padding-top: 1.8em;
}

.button-primary {
    background-color: var(--primary);
    border-radius: 50px;
    color: white; /* White text color */
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.button-primary:hover {
    opacity: 0.8;
}



.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    margin-bottom: 2em;
}

img.avatar {
    width: 50%;
    border-radius: 50%;
}

input[type=text], input[type=password] input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/* Food listings */


.scroll-container {
    max-height: calc(844px - 200px);
    overflow-y: auto;
    padding: 1em;
}

.postCard {
    background: var(--almost-white);
    border-radius: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 10px;

    &:hover {
        transform: scale(1.02);
    }
}


.card-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1em;
    height: 100%;

}

.title-section {
    margin-bottom: 0.5em;
}

.card-title {
    font-size: 1.5em;
    font-weight: bold;
}


.card-date {
    font-size: 0.9em;
    font-variant-caps: all-small-caps;
    color: var(--primary);

}

.card-description {
    font-size: 1em;
    margin-bottom: 0.5em;
}

.info-section {
    display: flex;
    justify-content: space-between;
}

.card-distance {
    font-size: 0.9em;
    font-weight: lighter;
    color: var(--primary-dark);
}

.card-price {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--primary);
}


/* Footer */
.footer {
    margin-top: auto;
}

.footer__nav-btn {
    background: var(--almost-white);
    border-radius: 50%;
    box-shadow: 1em 1em 2em hsl(var(--primary-light), 5%, 65%),
    -1em -1em 2em hsl(0, 0%, 100%);
    width: 3em;
    height: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__nav-btn:active {
    box-shadow: 0.75em 0.75em 1.5em hsl(var(--primary-darkdark), 5%, 65%),
    -0.75em -0.75em 1.5em hsl(0, 0%, 100%);
    transform: scale(0.9);
}

.footer__nav-btn span{
    margin-top: 5px;
}

.footer__nav-btn .icon circle,
.footer__nav-btn span {
    color: var(--primary-dark);
}

.footer__nav-btn:focus .icon circle,
.footer__nav-btn:focus span {
    color: var(--primary);
}

span.psw {
    float: right;
    padding-top: 16px;
}

span.psw2 {
    float: left;
    padding-top: 20px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw, span.psw2 {
        display: block;
        float: none;
    }

}

.ui-fileupload {
    padding: 12px 12px;
}

.item-body {
    margin-top: 20px;
}

.item-body img {
    max-width: 100%;
}

.item-desc {
    margin-top: 15px;
    margin-bottom: 15px;
}

.item-desc-title {
    font-size: 1.2em;
}

.item-buttons {
    color: #9e9898;
}

.item-buttons > i {
    padding-left: 5px;
    font-size: 16px;
}

.item-details {
    color: #9e9898;
    font-size: 12px;
    margin-top: 12px;
    color: #ccc;

}

