@page "/ForumPage"

<PageTitle>Forum</PageTitle>

@*----------Mockup Page for the community forum----------*@

<div class="top-bar-nav">
    <TopBar Title="Community"/>
</div>

<div class="scroll-container">


    <div class="postCard">
        <img src="/images/challange.png" alt="Post Image" class="card-image"/>
        <div class="card-details">
            <div class="title-section">
                <p class="card-title">Eat, move & live sustainably </p>
                <p class="card-date">08/12/2023</p>
            </div>
            <div class="info-section">
                <p class="card-description">Join us, challenge yourself & friends, and gain new knowledge and insights while at the same time reducing your carbon foot print. Want to be part of the fun? Sign up here!</p>
            </div>
        </div>
    </div>

    <div class="postCard">
        <img src="/images/workshop.jpg" alt="Post Image" class="card-image"/>
        <div class="card-details">
            <div class="title-section">
                <p class="card-title"> Workshop: The Green Kitchen Mastery</p>
                <p class="card-date">29/10/2023</p>
            </div>
            <div class="info-section">
                <p class="card-description">Let's cook up a greener future together! Join our 'Sustainable Kitchen Mastery' workshop to unlock the secrets of reducing food waste and adopting eco-friendly cooking practices. Learn innovative techniques, recipes, and mindset shifts to make your kitchen a hub of sustainability. </p>
            </div>
        </div>
    </div>

    <div class="postCard">
        <img src="/images/esg.png" alt="Post Image" class="card-image"/>
        <div class="card-details">
            <div class="title-section">
                <p class="card-title">How together we make a change</p>
                <p class="card-date">15/10/2023</p>
            </div>
            <div class="info-section">
                <p class="card-description">Discover how our food sharing community embraces ESG principles, aligning with the 12th SDG for responsible consumption and production. Join us in making a positive impact, one shared meal at a time.</p>
            </div>
        </div>
    </div>
</div>


@code {

}