@page "/"
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>


<div class="container">


    <h2>Let 's share more, and waste less.</h2>
    <div class="imgcontainer">
        <img src="/images/TGTGCommunity-logo.png" alt="logo" class="avatar">
    </div>
    <button @onclick="NavigateToCreateUser" class="button-primary">Create User</button>
    <button @onclick="NavigateToLogin" class="button-primary">Login</button>

</div>


@code {

    private void NavigateToCreateUser()
    {
        NavigationManager.NavigateTo("/CreateUser");
    }

    private void NavigateToLogin()
    {
        NavigationManager.NavigateTo("/Login");
    }

}