@page "/ViewPosts"
@using Domain.Models
@using HttpClients.ClientInterfaces
@inject IPostService postService
@inject NavigationManager Navigation


<div>
    <h3>View Posts</h3>
    @if (posts != null)
    {
        <ul>
            @foreach (var item in posts)
            {
                <div class="postCard" @onclick="() => OpenSpecificPost(item.Id)">

                    <p id="TitlePost">@item.Title</p>
                    @if (item.ImageData != null && item.ImageData.Length > 0)
                    {
                        <img src="@($"data:image/png;base64,{Convert.ToBase64String(item.ImageData)}")" alt="Post Image"
                             width="150"/>
                    }
                    <p id="PricePost">@item.Price</p>


                </div>
            }

        </ul>
    }
</div>


@if (!string.IsNullOrEmpty(msg))
{
    <label style="color: red">@msg</label>
}

@code {
    private IEnumerable<Post>? posts;
    private string msg = "";

    // Use OnInitializedAsync to load posts when the component is initialized
    protected override async Task OnInitializedAsync()
    {
        try
        {
            await LoadPosts();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

    private void OpenSpecificPost(int id)
    {
        Navigation.NavigateTo($"SpecificPost/{id}");
    }

    private async Task LoadPosts()
    {
        posts = await postService.GetAsync(null, null, null);
    }

}