@inherits LayoutComponentBase

<RadzenComponents/>

<div class="app">
    <main>

        <section>
            @Body
        </section>
    </main>
    <div class="footer">
        <BottomNav/>
    </div>
</div>