<div class="nav-item px-3">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="oi oi-home" aria-hidden="true"></span> Home
    </NavLink>
</div>

@foreach (var link in GetNavigationLinks())
{
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="@link.Url">
            <span class="@link.IconClass" aria-hidden="true"></span> @link.Text
        </NavLink>
    </div>
}

@code {

    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; } = null!;

    private bool isLoggedIn;

    protected override async Task OnInitializedAsync()
    {
        await UpdateAuthenticationState();
    }

    private async Task UpdateAuthenticationState()
    {
        var authState = await AuthState;
        isLoggedIn = authState.User.Identity?.IsAuthenticated ?? false;
    }

    protected override async Task OnParametersSetAsync()
    {
        await UpdateAuthenticationState();
    }

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private List<NavigationLink> GetNavigationLinks()
    {
        if (isLoggedIn)
        {
            return new List<NavigationLink>
            {
                new("UserProfile", "oi oi-list", "User Profile"),
                new("ShowCredentials2", "oi oi-list", "Show Credentials"),
                new("CreatePost", "oi oi-plus", "Create New Post"),
                new("ViewPosts", "oi oi-list", "View Posts")
            };
        }
        return new List<NavigationLink>
        {
            new("Login", "oi oi-plus", "Login"),
            new("CreateUser", "oi oi-plus", "Create User")
        };
    }

    private class NavigationLink
    {
        public NavigationLink(string url, string iconClass, string text)
        {
            Url = url;
            IconClass = iconClass;
            Text = text;
        }

        public string Url { get; }
        public string IconClass { get; }
        public string Text { get; }
    }

}